.A-1{
    margin-top: 20px; 
    margin-left: 20px;
}
.A-2{
    margin-top: 20px;
}
.A-3{
    margin-top: 0px; 
    margin-left: 15;
}
.A-4{
    margin-top: 0px; 
    margin-left: 23px;
}
a{
    color: rgb(224, 51, 8);
    text-decoration: none;
}
a:hover {
    color: purple;
}
a:visited {
    color: rgb(51, 255, 0);
}
a:hover{
    color: red;
}
.ch:checked {
    display: none;
}

.text{
    border: 2px solid black;
}
.text:focus {
    border-color: blue;
}
.save{
    position:relative;  
    background-color: rgba(136, 136, 136, 0.897);
    color: rgb(0, 0, 0);
    padding: 10px 10px ;
    outline: 2px solid  rgba(212, 212, 212, 0.897);
}